<html>
 <head>
  <style>
   p { margin-left: 100mm; }
   h3 {  margin-left: 100mm; }
  </style>
 </head>

 <body>
 <h2 align="center">Demo application</h2>
  <h3>You ip address is:</h3>
   <p>
    <%= @remote_ip %>
   </p>
  <h3>You agent is:</h3>
   <p>
    <%= @remote_agent %>
  </p>
 </body>

</html>
